* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
}

body {
	color: rgb(255, 255, 255);
	padding-top: 2.2em;
	height: 100vh;
	display: flex;
	background: rgb(17, 54, 92);
	justify-content: center;
	text-align: center;
}

.containter {
	width: 100%;
}

h1 {
	font-weight: 700;
	font-size: 2.6em;
}

img {
	width: 100px;
	height: 100px;
	margin: 1.6em 0;
	transition: 0.1s;
}

.dice {
	margin-top: 6em;
	margin-bottom: 3em;
	display: inline-block;
}

.dice:nth-child(2) {
	margin-right: 6em;
}

.dice p {
	font-weight: 600;
	font-size: 2.2em;
}

button {
	cursor: pointer;
	font-weight: 900;
	color: rgb(255, 0, 0);
	border-radius: 10px;
	padding: 0.4em 2.4em;
	outline: none;
	border: none;
	font-size: 1.4em;
	transition: 0.5s;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
	left: 0;
	bottom: 0;
	font-size: 1.2em;
	position: absolute;
	width: 100%;
	background: #000;
	line-height: 3.1;
	font-weight: 700;
	color: rgb(255, 255, 255);
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
